:root{
    --main-color-light: #fefae0;
    --main-color-normal: #faedcd;
    --main-color-dark: #d4a373;
    --font-color: #000;
    --font-size: 18px;
}

/*
    Global styling
*/

html,
body{
    font-family: 'Lucida Console', 'Courier New', 'Serif', serif;
    font-size: var(--font-size);
    font-weight: normal;
    color: var(--font-color);
    margin: 0;
    padding: 0;
}

h1{
    margin: 10px;
    padding: 0;
    font-size: 22px;
}

p{
    padding: 10px;
    margin: 5px;
    font-size: var(--font-size);
}

a{
    cursor: pointer;
    text-decoration: none;
    color: var(--font-color);
}

.center{
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
}

.background{
    width: 100%;
    background-color: var(--main-color-light);
    box-shadow: 0 -5px 15px var(--main-color-dark);
}

.border-layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/*
    Responsive
*/

