/*
    Global styling
*/

:root{
    --main-color-light: #a3b18a;
    --main-color-dark: #3a5a40;
    --font-color: #000;
    --p-font-size: 16px;
    --h-font-size: 22px;
}

html,
body{
    font-family: 'Inter', 'Courier New', 'Serif', serif;
    font-weight: normal;
    color: var(--font-color);
    margin: 0;
    padding: 0;
}

h1{
    font-size: var(--h-font-size);
    margin: 10px;
    padding: 10px;
}

p{
    font-size: var(--p-font-size);
    margin: 10px;
    padding: 5px;
    text-align: justify;
}

a{
    font-size: var(--p-font-size);
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    color: var(--font-color);
}

button{
    font-size: var(--p-font-size);
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

ul{
    font-size: var(--p-font-size);
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    font-size: var(--p-font-size);
    text-decoration: none;
}

.center{
    margin: auto;
    width: 80%;
    max-width: 800px;
}

.background{
    width: 100%;
    background-color: var(--main-color-light);
    box-shadow: 0 0 4px var(--main-color-dark);
}

/*
    Responsiveness
*/

@media(max-width: 948px){
    :root{
        --p-font-size: 15px;
        --h-font-size: 20px;
    }

    h1{
        margin: 10px;
        padding: 10px;
    }

    p{
        margin: 5px;
        padding: 5px;
    }

    a{
        margin: 5px;
        padding: 5px;
    }

    .center{
        width: 85%;
        max-width: 600px;
    }
}

@media(max-width: 768px){
    :root{
        --p-font-size: 14px;
        --h-font-size: 18px;
    }

    h1{
        margin: 10px;
        padding: 5px;
    }

    p{
        margin: 5px;
        padding: 2px;
    }

    a{
        margin: 5px;
        padding: 2px;
    }

    .center{
        width: 90%;
        max-width: 500px;
    }
}

@media(max-width: 512px){
    :root{
        --p-font-size: 12px;
        --h-font-size: 16px;
    }

    h1{
        margin: 5px;
        padding: 5px;
    }

    p{
        margin: 5px 2px;
        padding: 2px;
    }

    a{
        margin: 5px 2px;
        padding: 2px;
    }

    .center{
        width: 95%;
        max-width: 400px;
    }
}