/*
    Section classes
*/

.portfolio{}

.portfolio-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0;
}

.portfolio-article > h1{
    position: relative;
}

.portfolio-article > h1::before,
.portfolio-article > h1::after{
    position: absolute;
    top: calc(50% - 1px);
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: #000;
}

.portfolio-article > h1::before{
    left: -30px;
}

.portfolio-article > h1::after{
    right: -30px;
}

.skills{
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.skill{
    --skill-width: calc(20% - 36px);
    max-width: 200px;
    width: var(--skill-width);
    height: var(--skill-width);
    overflow: hidden;
    padding: 8px;
    box-shadow: 0 0 5px var(--font-color);
    cursor: pointer;
}

.skill p{
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.skill img{
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: contain;
    object-position: center;
    transition: .2s all ease-in-out;
}

.skill:hover img{
    transform: scale(0.5) !important;
}

.skill:hover p{
    height: auto;
    opacity: 1;
}

#opencv img{
    transform: scale(0.9);
}

#numpy img,
#cpp img{
    transform: scale(0.98);
}

#hibernate img{
    transform: scale(1.4);
}

#ai img,
#python img,
#tensorflow img,
#spring img{
    transform: scale(1.2);
}

.projects{

}

/*
    Responsive
*/

/**/