/*
    Skills classes
*/

.skills{
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
}

.skills > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.skills > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.skills > *:nth-child(3){
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.skills > *:nth-child(4){
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}

.skills > *:nth-child(5){
    -ms-grid-row: 1;
    -ms-grid-column: 9;
}

.skill{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-box-shadow: 0 0 2px var(--font-color);
    box-shadow: 0 0 2px var(--font-color);
    cursor: pointer;
    /*overflow: hidden;*/
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
    aspect-ratio: 1;
}

.skill:hover{
    -webkit-box-shadow: 0 0 6px var(--font-color);
    box-shadow: 0 0 6px var(--font-color);
}

.skill:hover img{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.skill:hover .skill-text{
    opacity: 1;
}

.skill-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100px;
    width: 70%;
    aspect-ratio: 1;
    overflow: hidden;
}

.skill-image img{
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
}

.skill-text{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
    opacity: 0;
}

.skill-text p{
    font-size: 14px;
    text-align: center;
    padding: 2px;
    margin: 0;
}

/*
    Responsiveness
*/

@media(max-width: 948px){
    .skills{
        gap: 6px;
    }

    .skill-text p{
        font-size: 12px;
        padding: 1px;
        letter-spacing: -1px;
    }
}

@media(max-width: 768px){
    .skills{
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width: 512px){
    .skills{
        -ms-grid-columns: 1fr 4px 1fr 4px 1fr;
        grid-template-columns: repeat(3, 1fr);
        gap: 4px;
    }

    .skill-text p{
        font-size: 10px;
    }
}